h1, h2 {  
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#header1-settings {
    color: white;
    padding: 5px 0 5px 0;
    text-align: center; 
}

li a {
    color: #9b9b9b;
    text-align: center;
    margin-top: 10px;
}

#header2-settings {
    color:  #4aaaa5;
    text-align: left;
    padding: 10px 0 10px 10px;
    border-bottom: 1.5px inset lightgray;
}

.content-section {
    width: 100%;
    height: auto;
    background: whitesmoke;
    border-top: 1.5px outset lightgray;
    min-height: 1000px;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 25px 0 90px 0;
}

html, body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

.footer-setting {
    height: 60px;
    text-align: center; 
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 15px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 15px;
    color: white;
    padding-top: 10px;
    background: gray;
    border-top: 8px solid #4aaaa5;
}

img {
    width: 258px;
    height: 216px;
    margin: 10px 0 30px 0;
}

li a:hover {
    font-size: 150%;
    color: #4aaaa5;
}
  
li a:active {
    font-size: 150%;
    color: orange;
}

h3 a:hover {
    font-size: 125%;
}
  
h3 a:active {
    font-size: 125%;
}
